<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}

                <!-- Content -->
                <section>
                	<header class="main">
                		<h1>{{ page.title }}</h1>
                	</header>

                  <!-- {% if page.image %}
                	<span class="image left"><img src="{{ page.image | absolute_url }}" alt="" /></span>
                  {% endif %} -->

                {{ content }}

              </div>
          </div>

          {% include sidebar.html %}

      </div>

      {% include footer.html %}

</body>
</html>