<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">
				{% include header.html %}
				
				<!-- Content -->
				<section id="content">
					<header class="post main">
						<h1 class="post-title">{{ page.title }}</h1>
						<div class="post-info">
							{% assign m = page.date | date: "%-m" %}
							{{ page.date | date: "%-d" }}
							{% case m %}
							{% when '1' %}Ocak
							{% when '2' %}Şubat
							{% when '3' %}Mart
							{% when '4' %}Nisan
							{% when '5' %}Mayıs
							{% when '6' %}Haziran
							% when '7' %}Temmuz
							{% when '8' %}Ağustos
							{% when '9' %}Eylül
							{% when '10' %}Ekim
							{% when '11' %}Kasım
							{% when '12' %}Aralık
							{% endcase %}
							{{ page.date | date: "%Y" }}, 
							Etiketler: &nbsp;
							{%- if page.tags -%}
							{%- for tag in page.tags -%}
							<a href="/etiketler/{{ tag }}">{{ tag | capitalize }}</a>
							{% unless forloop.last %} - {% endunless %}
							{%- endfor -%}
							{%- endif -%}
						</div>
					</header>

					{{ content }}

					<div class="share-links">
						<h3>Paylaş</h3>
						<ul>
							<li>
								<a  class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank">
									<i class="fa fa-facebook" aria-hidden="true"></i> Faceboook
								</a>	
							</li>
							<li>
								<a class="twitter" href="https://twitter.com/intent/tweet?text={{ page.title }} - {{ page.url | absolute_url }}" target="_blank">
									<i class="fa fa-twitter aria-hidden="true"></i> Twitter
								</a>
							</li>
							<li>
								<a class="whatsapp" href="whatsapp://send?text={{ page.title }} - {{ page.url | absolute_url }}">
									<i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp
								</a>
							</li>
							<li>
								<a class="tumblr" href="https://www.tumblr.com/widgets/share/tool?posttype=link&content={{ page.url | absolute_url }}&canonicalUrl={{ page.url | absolute_url }}" target="_blank">
									<i class="fa fa-tumblr" aria-hidden="true"></i> Tumblr
								</a>
							</li>
						</ul>
					</div>

					<div class="nav-links">
						{% if page.previous %}
						<div class="nav-previous">
							<a href="{{ page.previous.url }}" rel="prev">{{ page.previous.title }}</a>
						</div>
						{% endif %}
						{% if page.next %}
						<div class="nav-next">
							<a href="{{ page.next.url }}" rel="next">{{ page.next.title }}</a>
						</div>
						{% endif %}
					</div>
				</section>

			</div>
		</div>

		{% include sidebar.html %}
	</div>
	{% include footer.html %}
</body>
</html>